@model PizzaBox.Client.Models.OrderViewModel

<h2>Current Order Cart</h2>
<section>
     <form action="/order/edit" method="post">
          @Html.AntiForgeryToken()
          @{
               int i = 0;

               foreach(var p in @Model.Pizzas)
               {
                    <input type="radio" name="selectedpizza" value="@i">
                    <label for="selectedpizza">@p.Name &nbsp; @p.Crust.Name &nbsp; @p.Size.Name &nbsp;
                         @foreach(var t in @p.Toppings)
                         {
                              @t.Name
                         }
                    </label>
                    i = i + 1;
                    <br>
               }
          }
               @Html.ValidationMessageFor(m => m.SelectedPizza)
          <button type="submit">Edit Selected Pizza</button>
     </form>
</section>


<section>
     <form action="/user/index">
          <button type="submit">Back to User Directory</button>
     </form>
</section>