@model PizzaBox.Client.Models.StoreViewModel

<h3>Select Store</h3>
<form action="/user/poststore" method="post">
     @Html.AntiForgeryToken()
     <select name="store">
          @foreach(var store in @Model.Stores)
          {
               <option value="@store">@store</option>
          }
     </select>
     @Html.ValidationMessageFor(m => m.Store)
     <button type="submit">Select</button>
</form>