@model PizzaBox.Client.Models.UserViewModel

<h2> Order Directory </h2>
<section>
     <form action="/order/home">
     <input type="hidden" name="currentorder" value="@Model.CurrentOrder">
     <input type="hidden" name="isregistered" value="@Model.IsRegistered">
     <button type="submit" name="name" value="@Model.Name">Add Pizza to Order</button>
     </form>
</section>

<section>
     <form action="/order/orderlist" method="get">
     <input type="hidden" name="currentorder" value="@Model.CurrentOrder">
     <input type="hidden" name="isregistered" value="@Model.IsRegistered">
     <button type="submit" name="userorders" value="@Model.UserOrders">Edit Current Order</button>
     </form>
</section>

<section>
     <form action="/order/userhistory" method="post">
     <input type="hidden" name="userorders" value="@Model.UserOrders">
     <button type="submit" name="name" value="@Model.Name">User Order History</button>
     </form>
</section>

<section>
     <form action="/order/checkout" method="post">
     <input type="hidden" name="currentorder" value="@Model.CurrentOrder">
     <input type="hidden" name="isregistered" value="@Model.IsRegistered">
     <button type="submit" name="@Model.CurrentOrder" value="@Model.Name">Checkout</button>
     </form>
</section>